$bg: linear-gradient(121deg, #2E005C 37.02%, #7640AB 80.02%);
$bgSoft: #270052;
$navbar-background-color: #414666;
$navbar-height: 140px;
$navbar-padding: 20px;
$navbar-max-width: 1440px;
$search-max-width: 660px;


$textBasic: #FFFFFF;
$textSoft: #A9B4C2;
$textNeon: #FC84FF;

$font: 'Poppins', sans-serif;
body{
    margin: 0;
    padding: 0;
    height: 100vh;
}